<head><title>The Great Movie Search</title></head>	

	<h1>The Great Movie Search<br></h1>
  <form accept-charset="UTF-8" action="/results" method="post">
    <label for="movie">Search for:</label>
    <input id="movie" name="movie" type="text" />
    <input name="commit" type="submit" value="Search" /> 
  </form>