<title>The Great Movie Search</title>	

<body class="container index-body">
<div class="container row col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
	<h1 class="index-h1">The Great<br>Movie Search<br></h1>
	<form accept-charset="UTF-8" action="/results" method="post">
		<label for="movie"></label>
		<input id="movie" name="movie" type="text" placeholder="Enter movie search terms" />
		<button type="submit" class="btn btn-lg btn-primary">Search</button>
	</form>

</div>
</body>

